.game_wr {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    .card{
        text-align: center;
        max-width: 300px;
        .button{
            color: aliceblue;
            background-color: rgba(0, 0, 0, 0);
            border-style: none;
            font-size: 32px;
            padding: 60px;
            cursor: pointer;
            
        }
    }

    .card:nth-child(1){
        background: url(../../media/imgs/apps.png);
    }
    .card:nth-child(2){
        background: url(../../media/imgs/games.png) 200px;
    }
}