.plat {
    max-width: 400px;
    div {
        border: 1px solid grey;
        padding: 10px;
        cursor: pointer;
    }

    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    img {
        border-radius: 20px;
        max-width: 100px;
    }

}