.plat{
    div{
        border: 1px solid grey;
        padding: 10px;
    }
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    .plat_img{
        border-radius: 20px;
    }
    img{
        max-width: 100px;
    }

}