.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .button {
        margin: 10px;
        padding: 20px;
        // width: 200px;
        color: aliceblue;
        border-style: none;
        cursor: pointer;
        background: rgb(0, 0, 0,0);
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        font-family: Phantomsans, sans-serif;
        cursor: pointer;
        font-size: 20px;
        justify-content: center;
        text-decoration: none;
        touch-action: manipulation;
        white-space: nowrap;
    }

    .button:active,
    .button:hover {
        outline: 0;
    }

    .button {
        // background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in;
    }

    .button:hover {
        background: none;
        background-image: linear-gradient(144deg, #7200c3, #5B42F3 50%, #02636a);

    }

    @media (min-width: 768px) {
        .button {
            font-size: 24px;
            min-width: 196px;
        }
    }
}